server:
  port: 5000
  
  
spring:
  datasource:
    url: jdbc:mysql://35.238.89.162:3306/SPRING
    username: dbuser
    password: dbuser@123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      use-new-id-generator-mappings: false
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    database: mysql